<!-- This is a temporal hack only with the purpose to allow the transition with Spring MVC-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>WiseMapping - Visual Thinking Evolution</title>

  <meta charset="utf-8" />
  <link rel="icon" href="<%=PUBLIC_URL%>/favicon.ico" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap"
    rel="stylesheet" />

  <meta name="viewport" content="width=device-width" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="WiseMappping" />
  <link rel="apple-touch-icon" href="<%=PUBLIC_URL%>/favicon.png" />

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="author" content="WiseMapping">
  <meta name="publisher" content="WiseMapping Open Source">
  <meta name="keywords"
    content="mindmap,mind map,mind maps,mindmaps,ideas,brainstorming,organize,thoughts,structure,collaboration,free,fast,simple,online,tool,knowledge,share,sharing,publish">
  <meta name="description"
    content="WiseMapping is a free, fast and simple online mind mapping editor for individuals and business. Sign up to start organizing and sharing your ideas and thoughts.">
  <meta property="og:title" content="WiseMapping" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.wisemapping.com" />
  <meta property="og:image" content="https://www.wisemapping.com/images/logo.png" />
  <meta property="og:site_name" content="WiseMapping" />


  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <link rel="manifest" href="<%=PUBLIC_URL%>/manifest.json" />
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  <!--
      Dynamic runtime configuration properties (https://dev.to/matt_catalfamo/runtime-configurations-with-react-22dl)
    -->    
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
</body>

</html>
