html {
    overflow: hidden;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 *
 */
body {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    font: x-small;
}

table {
    font-size: inherit;
    font-size: 100%;
}

/**
 * 99% for safari; 100% is too large
 */
select,
input,
textarea {
    font: 99% arial, helvetica, clean, sans-serif;
}

/**
 * Bump up !IE to get to 13px equivalent
 */
pre,
code {
    font: 115% monospace;
    font-size: 100%;
}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */

body * {
    line-height: 1.22em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

img {
    border: 0;
}

form {
    padding: 0;
    margin: 0;
}

p {
    margin: 5px 0 5px 0;
}

ul {
    list-style-position: inside;
}

a:hover,
a:active {
    font: bold 100%;
    text-decoration: underline;
    color: black;
}

h2 {
    font-size: 160%;
    color: #8e9181;
}

h1 {
    font-style: normal;
    font-size: 180%;
    color: white;
    padding-bottom: 2px;
}

h3 {
    /* use as subhead on main body */
    clear: left;
    font-style: normal;
    font-size: 130%;
    color: #6b6f5b;
}

h4 {
    /* use as headers in footer */
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px solid #8e9181;
    color: #e2e3dd;
    padding-bottom: 10px;
    width: 400px;
}